-i https://pypi.org/simple/
certifi==2017.7.27.1
chardet==3.0.4
coreapi==2.3.1
coreschema==0.0.4
defusedxml==0.6.0
dj-database-url==0.4.2
django-allauth==0.33.0
django-appconf==1.0.2
django-compressor==2.2
django-cors-headers==3.0.2
django-debug-toolbar==2.0
django-filter==2.2.0
django-friendship==1.8.1
django-grappelli==2.10.1
django-js-asset==1.2.2
django-json-widget==0.2.0
django-mptt==0.10.0
django-rest-auth==0.9.1
django-rest-swagger==2.1.2
django-tables2==2.1.0
django-taggit-labels==0.6.0
django-taggit==0.22.1
django-tinymce==2.8.0
django==2.2.10
djangorestframework-jwt==1.11.0
djangorestframework==3.10.1
drf-extensions==0.5.0
dry-rest-permissions==0.1.9
graphviz==0.11.1
gunicorn==19.7.1
idna==2.6
itypes==1.1.0
jinja2==2.9.6
jsonfield==2.0.2
markdown==2.6.9
markupsafe==1.0
oauthlib==2.0.2
openapi-codec==1.3.2
psycopg2-binary==2.8.3
pyjwt==1.5.2
python-openid==2.2.5
python3-openid==3.1.0
pytz==2017.2
rcssmin==1.0.6
requests-oauthlib==0.8.0
requests==2.18.4
rjsmin==1.0.12
simplejson==3.11.1
six==1.10.0
sqlparse==0.3.0
static3==0.7.0
uritemplate==3.0.0
urllib3==1.22
